.About {
  max-width: 1000px;
  border-radius: 12px;
  border: 1px solid #dee2e7;
  background-color: #fff;
  padding: 50px 20px;
  display: flex;

  .photo {
    border-radius: 50%;
  }

  .links {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
  }

  .profession {
    color: orange;
    margin-bottom: 10px;
  }

  .main_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;

    h3 {
      margin: 10px 0;
    }
  }
}
